.right-sidebar {
    background-color: #f0f0f0;
    transition: width 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* 防止整个侧边栏滚动 */
    display: flex;
    flex-direction: column;
    position: relative; /* 确保子元素可以相对于此定位 */
}

.right-sidebar-open {
    width: 300px;
}

.right-sidebar-closed {
    width: 50px;
}

.right-sidebar-header {
    padding: 10px;
    text-align: right;
    background-color: #333;
    color: #fff;
    flex-shrink: 0; /* 防止缩小 */
}

.right-sidebar-header button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #fff;

}

.right-sidebar-icons {
    display: flex;
    position: absolute;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 调整位置 */
    margin: 10px;
    flex-shrink: 0; /* 防止缩小 */
}

.right-sidebar-content {
    padding: 10px;
    transition: opacity 0.3s ease-in-out;
    overflow-y: auto; /* 仅使内容可滚动 */
    flex-grow: 1; /* 允许内容增长并占用可用空间 */
}

.right-sidebar-transparent {
    opacity: 0;
    pointer-events: none;
}

.right-sidebar-icon {
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.right-sidebar-icon:hover {
    background-color: #ccc;
}

.right-sidebar-icon-active {
    background-color: #ddd;
}

.right-sidebar-tab-content {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.right-sidebar-tab-content h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.right-sidebar-tab-content ul {
    list-style-type: none;
    padding: 0;
}

.right-sidebar-tab-content li {
    margin-bottom: 5px;
}

.right-sidebar-tab-content a {
    text-decoration: none;
    color: #007bff;
}

.right-sidebar-tab-content a:hover {
    text-decoration: underline;
}

